<!--Crear Cuenta nueva para el usuario-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="C:\Users\ALEJANDRO\Documents\Ingeniería de Software\html5\htmlclase\practicaAW\documentosCss\paginaInicial.css">-->
    <link rel="stylesheet" href="\css\paginaInicial.css">
    <link rel="icon" type="img/png" href="">
    <title>Crear cuenta</title>
</head>
<body>
    
    <div class="cabecera">
        <h1>404</h1>
    </div>

    <div class="datosEntrada">
        <form method="POST" action="/usuario/crearCuenta" enctype="multipart/form-data">
            <div class="datos">
                <label>Correo*</label>
                <input type="email" name="email" required>
            </div>
            
            <div class="datos">
                <label>Contraseña*</label>
                <input type="password" minlength="4" maxlength="100" name="password1" required>
            </div>
            <div class="datos">
                <label>Confirmar contraseña*</label>
                <input type="password" minlength="4" maxlength="100" name="password2" required>
            </div>
            <div class="datos">
                <label>Nombre para mostrar*</label>
                <input type="text" minlength="4" maxlength="100" name="name" required>
            </div>
            <div class="datos">
                <label>Imagen de perfil</label>
                <div >
                    <input class="botonImg" type="file" accept=".png, .jpg" name="img">
                </div>
            </div>
            
            <div class="botones">
                <button type="submit">Crear Cuenta</button>
            </div>
        </form>
        <div>
            <a href="/paginaInicial">
                <button type="submit">Iniciar Sesión</button>
            </a>
        </div>
    </div>
    <%if(errorMsg !=null){ %>
        <div class="mensaje">
            <p>
                <%=errorMsg%>
            </p>
        </div>
    <%}%>

</body>
</html>