<!DOCTYPE html>
<html>

<head>
    <title>Error del servidor</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>404 - No encontrado</h1>
    <p>¡No hemos podido encontrar <%= url %>!</p>
</body>

</html>