<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\css\errores.css">
    <link rel="icon" type="img/png" href="\img\favicon404.png">
    <title>Error del servidor</title>
</head>

<body>
    <div class="cabecera">
        <h1>500 - Error interno del servidor</h1>
        <p class="errorEstilo">Se ha producido el siguiente error: <%= mensaje %></p>
    </div>
</body>

</html>