<!--En la que ya estas iniciado sesión y tienes las opciones de botones a la izquierda-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\css\busquedasUsuario.css">
    <link rel="icon" type="img/png" href="">
    <title>Filtrar Usuario</title>
</head>
<body>
    
    <%-include("busquedaUsuario")%>

</body>
</html>