<!--En la que ya estas iniciado sesión y tienes las opciones de botones a la izquierda-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\css\formularPregunta.css">
    <link rel="icon" type="img/png" href="">
    <title>Formular Pregunta</title>
</head>

<body>

    <%-include("paginaPrincipal")%>

        <div class="titulo2">
            <h2>Formular una pregunta</h2>
        </div>
        <form method="POST" action="/formularPregunta">
            <div class="contenedorCuestion">
                <div class="estiloCuestion">
                    <div class="m">
                        <h3>Titulo</h3>
                    </div>
                    <div class="m">
                        <h4>Sé específico e imagina que estás haciendo la pregunta a otra persona</h4>
                    </div>
                    <div class="m">
                        <input class="in1" type="text" name="titulo"  minlength="10" maxlength="200" required>
                    </div>
                </div>

                <div class="estiloCuestion">
                    <div class="m">
                        <h3>Cuerpo</h3>
                    </div>
                    <div class="m">
                        <h4>Incluye toda la información que alguien necesitaría para responder tu pregunta</h4>
                    </div>
                    <div class="m">
                        <input class="in2" type="text" name="cuerpo" minlength="10" maxlength="500" required>
                    </div>
                </div>

                <div class="estiloCuestion">
                    <div class="m">
                        <h3>Etiquetas</h3>
                    </div>
                    <div class="m">
                        <h4>Añade hasta 5 etiquetas para describir sobre qué trata tu pregunta</h4>
                    </div>
                    <div class="m">
                        <input class="in1" type="text" name="preguntaNueva">
                    </div>
                </div>

                <div class="publica">
                    <button class="publicaPregunta" type="submit">Publica tu pregunta</button>
                </div>
            </div>
        </form>


</body>

</html>