<!--En la que ya estas iniciado sesión y tienes las opciones de botones a la izquierda-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\css\paginaPrincipal.css">
    <link rel="icon" type="img/png" href="">
    <title>Pagina Principal</title>
</head>
<body>
    
    <div class="cabecera">
        <div class="opciones">
            <div class="boton">
                <button class="preguntas" type="submit">Preguntas</button>
            </div>
            <div class="boton">
                <button class="sinResponder" type="submit">Sin responder</button>
            </div>
            <div class="boton">
                <button class="usuarios" type="submit">Usuarios</button>
            </div>
        </div>
        <div class="titulo">
            <h1>404</h1>
        </div>
        <div class="perfil">
            <div class="imagenPerfil">
                <img src="C:\Users\ALEJANDRO\Documents\Ingeniería de Software\html5\htmlclase\practicaAW\documentosCss\p1.png">
            </div>
            <div class="nombrePerfil">
                <a class="estiloEnlace" href="/perfilUsuario">SHAM</a>
            </div>
            <div class="boton">
                <button class="cerrarSesion"  type="submit">Cerrar sesión</button>
            </div>
        </div>
    </div>

    <div class="buscador">
        <button class="buscar" type="submit">Buscar</button>
        <input type="search" name="buscador" id="">
    </div>
    

</body>
</html>