<!--En la que ya estas iniciado sesión y tienes las opciones de botones a la izquierda-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/paginaInicial.css">
    <link rel="icon" type="img/png" href="">
    <title>Pagina Inicial</title>
</head>

<body>

    <div class="cabecera">
        <h1>404</h1>
    </div>

    <div class="datosEntrada">
        <form action="/usuario/paginaInicial" method="POST">
            <div class="datos">
                <label for="">Correo*</label>
                <input type="email" name="email" required>
            </div>
            <div class="datos">
                <label for="">Contraseña*</label>
                <input type="password" name="password" required>
            </div>
            <div class="botones">
                <button type="submit">Iniciar Sesión</button>
            </div>
        </form>
        <div>
            <a href="/usuario/crearCuenta">
                <button type="submit">Crear Cuenta</button>
            </a>
        </div>
    </div>
    <%if(errorMsg !=null){ %>
        <div class="mensaje">
            <p>
                <%=errorMsg%>
            </p>
        </div>
    <%}%>
</body>

</html>