<!--En la que ya estas iniciado sesión y tienes las opciones de botones a la izquierda-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\css\paginaPrincipal.css">
    <link rel="icon" type="img/png" href="">
    <title>Pagina Principal</title>
</head>

<body>

    <div class="cabecera">
        <div class="opciones">
            <div class="boton">
                <a href="/pregunta/preguntas">
                    <button class="preguntas" type="submit">Preguntas</button>
                </a>
            </div>
            <div class="boton">
                <a href="/pregunta/preguntasSinResponder">
                    <button class="sinResponder" type="submit">Sin responder</button>
                </a>
            </div>
            <div class="boton">
                <a href="/usuario/busquedaUsuario">
                    <button class="usuarios" type="submit">Usuarios</button>
                </a>
            </div>
        </div>
        <div class="titulo">
            <h1>404</h1>
        </div>
        <div class="perfil">
            <div class="imagenPerfil">
                <img src="/usuario/imagenUsuario/">
            </div>
            <div class="nombrePerfil">
                <a class="estiloEnlace" href="/usuario/perfilUsuario/<%=usuario.id%>">
                    <%=usuario.nombre%>
                </a>
            </div>
            <div class="boton">
                <a href="/usuario/cerrarSesion">
                    <button class="cerrarSesion" type="submit">Cerrar sesión</button>
                </a>
            </div>
        </div>
    </div>

    <div class="buscador">
        <form method="POST" action="/pregunta/preguntasText">
        <button class="buscar" type="submit">Buscar</button>
        <input type="search" name="buscador">
         </form> 
    </div>


</body>

</html>