<!--En la que ya estas iniciado sesión y tienes las opciones de botones a la izquierda-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..\css\perfilUsuario.css">
    <link rel="icon" type="img/png" href="">
    <title>Perfil Usuario</title>
</head>
<body>
    
    <div class="cabecera">
        <div class="opciones">
            <div class="boton">
                <button class="preguntas" type="submit">Preguntas</button>
            </div>
            <div class="boton">
                <button class="sinResponder" type="submit">Sin responder</button>
            </div>
            <div class="boton">
                <a href="/busquedaUsuario">
                    <button class="usuarios" type="submit">Usuarios</button>
                </a>
            </div>
        </div>
        <div class="titulo">
            <h1>404</h1>
        </div>
        <div class="perfil">
            <div class="imagenPerfil">
                <img src="C:\Users\ALEJANDRO\Documents\Ingeniería de Software\html5\htmlclase\practicaAW\documentosCss\p1.png">
            </div>
            <div class="nombrePerfil">
                <a class="estiloEnlace" href="/perfilUsuario"><%=usuario.nombre%></a>
            </div>
            <div class="boton">
                <a href="/cerrarSesion">
                    <button class="cerrarSesion" type="submit">Cerrar sesión</button>
                </a>
            </div>
        </div>
    </div>

    <div class="buscador">
        <button class="buscar" type="submit">Buscar</button>
        <input type="search" name="buscador" id="">
    </div>

    <!--ESTADISTICAS-->
    <div class= "contenedorEstadisticas">
        <div class="datosUsuario">
            <div class="imagenPerfil">
                <img src="C:\Users\ALEJANDRO\Documents\Ingeniería de Software\html5\htmlclase\practicaAW\documentosCss\p1.png">
            </div>
            <div class="nombrePerfil">
                <a class="estiloEnlace"><%=usuario.nombre%></a>
            </div>
            <div class="fechaAlta">
                <h3>Miembro desde <%=usuario.fecha%></h3>
            </div>
        </div>
        <!--grid-->
        <div  class="estadisticas">
            <div class="seccion"> 
                <div><strong>ESTADISTICAS</strong></div> 
            </div>

            <div class="reputacion">
                <div>Reputación</div>
                <div><%=usuario.reputacion%></div>
            </div>

            <div class="preguntas">
                <div>Preguntas</div>
                <div>218</div>
            </div>

            <div class="respuestas">
                <div>Respuestas</div>
                <div>218</div>
            </div>
        </div>
    </div>

    <!--MEDALLAS-->

    <div class="medallas">
        <div class="seccion2"> 
            <div><strong>MEDALLAS</strong></div> 
        </div>

        <div class="bronce">
            <div>BRONCE</div>
            <div>5</div>
        </div>

        <div class="plata">
            <div>PLATA</div>
            <div>3</div>
        </div>

        <div class="oro">
            <div>ORO</div>
            <div>2</div>
        </div>

        <!--cada conjunto tendrá x logros-->
        <div class="conj">
            <div class= logros>
                <div class="logro">Pregunta tacatá</div>
                <div class="multi">x2</div>
            </div>
        </div>

        <div class="conj">
            <div class= logros>
                <div class="logro">Pregunta plata</div>
                <div class="multi">x2</div>
            </div>
            <div class= logros>
                <div class="logro">Pregunta plata</div>
                <div class="multi">x2</div>
            </div>
        </div>

        <div class="conj">
            <div class= logros>
                <div class="logro">Pregunta oro</div>
                <div class="multi">x2</div>
            </div>
            <div class= logros>
                <div class="logro">Pregunta oro</div>
                <div class="multi">x2</div>
            </div>
            <div class= logros>
                <div class="logro">Pregunta oro</div>
                <div class="multi">x2</div>
            </div>
        </div>


    </div>


</body>
</html>