<!--Vista tras dar al botón de preguntas-->
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <link rel="stylesheet" href="\css\preguntas.css">
    <link rel="icon" type="img/png" href="\img\favicon404.png">
    <title>PreguntasUsuario</title>
</head>

<body>
    <%-include("preguntas")%>

</body>

</html>