<!--Vista tras dar al botón de preguntas-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\css\preguntas.css">
    <link rel="icon" type="img/png" href="\img\favicon404.png">
    <title>PreguntasEtiqueta</title>
</head>
<body>
    
    <%-include("preguntas")%>


</body>
</html>